<!--{subtemplate common/header}-->
<style id="diy_style" type="text/css">#framejIE15e {  margin-bottom:5px !important;}#portal_block_1313 .dxb_bc {  margin-right:5px !important;}#portal_block_1314 .dxb_bc {  margin-left:-5px !important;}</style>
<link href="$_G['style']['styleimgdir']/css/por1.css" rel="stylesheet" />
<link href="$_G['style']['styleimgdir']/css/por2.css" rel="stylesheet" />
<!-- 广告位顶部通栏开始 -->
<!-- 广告位顶部通栏结束 -->
<div class=" wapper">
    <div class="top_l">
        <div id="slider_wapper">
<div id="kdiya" class="area"><div id="framesTNYhd" class="cl_frame_bm frame move-span cl frame-1"><div id="framesTNYhd_left" class="column frame-1-c"><div id="framesTNYhd_left_temp" class="move-span temp"></div><!--{block/1247}--></div></div></div>
        </div>
 <div class="clear"></div>
        <ul class="frame_hd  clearfix" id="ul_top">
<div id="kdh" class="area"><div id="frameh7ZDkz" class="cl_frame_bm frame move-span cl frame-1"><div id="frameh7ZDkz_left" class="column frame-1-c"><div id="frameh7ZDkz_left_temp" class="move-span temp"></div><!--{block/1248}--></div></div></div>
        </ul>
        <div class="clear"></div>
        <div class="f_box">
<div id="kddu" class="area"><div id="frameSEhgPU" class="cl_frame_bm frame move-span cl frame-1"><div id="frameSEhgPU_left" class="column frame-1-c"><div id="frameSEhgPU_left_temp" class="move-span temp"></div><!--{block/1249}--></div></div></div>
        </div>
        <div class="blank10"></div>
<div id="ka1" class="area"><div id="frameXrRAQZ" class="cl_frame_bm frame move-span cl frame-1"><div id="frameXrRAQZ_left" class="column frame-1-c"><div id="frameXrRAQZ_left_temp" class="move-span temp"></div><!--{block/1250}--></div></div></div>
    </div>
    <div class="top_m">
<div id="khot" class="area"><div id="frameRJ6hjx" class="cl_frame_bm frame move-span cl frame-1"><div id="frameRJ6hjx_left" class="column frame-1-c"><div id="frameRJ6hjx_left_temp" class="move-span temp"></div><!--{block/1251}--></div></div></div>
        <div class="blank10"></div>
<div id="kcs" class="area"><div id="frameG51Xar" class="cl_frame_bm frame move-span cl frame-1"><div id="frameG51Xar_left" class="column frame-1-c"><div id="frameG51Xar_left_temp" class="move-span temp"></div><!--{block/1252}--><!--{block/1253}--><!--{block/1254}--><!--{block/1255}--><!--{block/1256}--></div></div></div>
    </div>
    <div class="top_r">
        <div class="login_box" id="index_login_box">
          <!--{if !$_G['uid']}-->
     <div class="unlogin">
                <a href="member.php?mod=logging&amp;action=login" onClick="showWindow('login', this.href)" class="fs bigfs log fs16 tac mr10 btns btn_login">登录</a><a href="member.php?mod={$_G[setting][regname]}" target="_blank" class="fs bigfs fs16 regist tac btns">注册登录</a>
                <div class="clear"></div>
                <div class="gc9">用其他账号登录：<a href="plugin.php?id=wechat:login" class="icon_index weibo mr5">weibo</a><a href="$_G[connect][login_url]&statfrom=login_simple" class="icon_index qq">qq</a></div>
            </div>
      	<!--{else}-->   
{eval	
$posts = getuserprofile('posts');
}
<dl class="log_in">   
 <dt><a href="home.php?mod=space&uid=$_G[uid]" target="_blank"><!--{avatar($_G[uid],middle)}--> </a></dt>
 <dd><a class="gc3 mr5 fs14" href="home.php?mod=space&uid=$_G[uid]" title="{echo cutstr($_G[member][username],10)}">{echo cutstr($_G[member][username],10)} </a>       
  <a class="gc6 fs12" href="member.php?mod=logging&action=logout&formhash={FORMHASH}">[退出]</a>        
  <p class="mt5">$_G[group][grouptitle]</p>
          <p><i class="icon_index gold mr5"></i>金币：<em><a  class="c_org"target="_blank" href="home.php?mod=spacecp&ac=credit"><!--{echo dnumber($_G['member']['extcredits2'])}--></a></em></p>
		  <p><i class="icon_index weiwang mr5"></i>积分：<em class="c_org">$_G[member][credits]</em></p></dd></dl>			
		  		<!--{/if}-->	
   </div>
        <div class="blank5"></div>
        <div class="mb10">
            <div class="ad_loading"><!--[diy=ka2]--><div id="ka2" class="area"><div id="frameklSlyn" class="cl_frame_bm frame move-span cl frame-1"><div id="frameklSlyn_left" class="column frame-1-c"><div id="frameklSlyn_left_temp" class="move-span temp"></div><!--{block/1257}--></div></div></div>
</div>
        </div>
<!--[diy=kxhdkt]--><div id="kxhdkt" class="area"><div id="frameWwFZyf" class="cl_frame_bm frame move-span cl frame-1"><div id="frameWwFZyf_left" class="column frame-1-c"><div id="frameWwFZyf_left_temp" class="move-span temp"></div><!--{block/1258}--></div></div></div>
        <div class="pd_list fs14 clearfix">
<!--[diy=kmm]--><div id="kmm" class="area"><div id="frameHhESe1" class="cl_frame_bm frame move-span cl frame-1"><div id="frameHhESe1_left" class="column frame-1-c"><div id="frameHhESe1_left_temp" class="move-span temp"></div><!--{block/1259}--><!--{block/1260}--><!--{block/1261}--><!--{block/1262}--><!--{block/1263}--></div></div></div>
        </div>
        <div class="r_ad mt10">
            <!-- 广告位：全站首页_活动看台小banner -->
                <div class="ad_loading"><!--[diy=ka3]--><a href="http://www.rolan.wang" target="_blank"><div id="ka3" class="area"><div id="frameWFbP7c" class="cl_frame_bm frame move-span cl frame-1"><div id="frameWFbP7c_left" class="column frame-1-c"><div id="frameWFbP7c_left_temp" class="move-span temp"></div><!--{block/1264}--></div></div></div></a></div>
        </div>
    </div>
    <div class="blank10"></div>
</div>

<div class="wapper">
    <div class="channel_box mr20">
        <div class="stitle">
            <div class="t_left b_food"><span class="fs24 bigfs"><a href="/forum-77-1.html" target="_blank" class="c_org">美食</a></span></div>
            <div class="t_right tar gc9">吃货<span class="c_qp ml5 mr5">探店</span>应有尽有<a href="/forum-77-1.html" target="_blank" class="baoming ml10 r3 tac">找美食</a></div>
        </div>
        <div class="cont_l" style="height:300px">
	<!--[diy=mst]--><div id="mst" class="area"><div id="frameWzeIL1" class="cl_frame_bm frame move-span cl frame-1"><div id="frameWzeIL1_left" class="column frame-1-c"><div id="frameWzeIL1_left_temp" class="move-span temp"></div><!--{block/1290}--></div></div></div>
            
        </div>
        <div class="cont_r">
	<!--[diy=msw]--><div id="msw" class="area"><div id="framekwC8c3" class="cl_frame_bm frame move-span cl frame-1"><div id="framekwC8c3_left" class="column frame-1-c"><div id="framekwC8c3_left_temp" class="move-span temp"></div><!--{block/1291}--><!--{block/1305}--></div></div></div>
        </div>
        <div class="blank10"></div>
        <div class="hots_list clearfix">
	<!--[diy=msrm]--><div id="msrm" class="area"><div id="framexyRRTo" class="cl_frame_bm frame move-span cl frame-1"><div id="framexyRRTo_left" class="column frame-1-c"><div id="framexyRRTo_left_temp" class="move-span temp"></div><!--{block/1292}--></div></div></div>
        </div>
    </div>
    <div class="channel_box">
        <div class="stitle">
            <div class="t_left b_travel"><span class="fs24 bigfs"><a href="/forum-39-1.html" target="_blank" class="c_blue">旅游</a></span></div>
            <div class="t_right tar gc9">出行<span class="c_qp ml5 mr5">景点</span>旅游全攻略<a href="/forum-39-1.html" target="_blank" class="baoming ml10 r3 tac">找目的地</a></div>
        </div>
        <div class="cont_l">
            <div class="img_box">
	<!--[diy=lyt]--><div id="lyt" class="area"><div id="frameuzXVvE" class="cl_frame_bm frame move-span cl frame-1"><div id="frameuzXVvE_left" class="column frame-1-c"><div id="frameuzXVvE_left_temp" class="move-span temp"></div><!--{block/1293}--></div></div></div>
            </div>
        </div>
        <div class="cont_r">
            <ul class="fs14 mes_list">
	<!--[diy=lyw]--><div id="lyw" class="area"><div id="frameQcgjrR" class="cl_frame_bm frame move-span cl frame-1"><div id="frameQcgjrR_left" class="column frame-1-c"><div id="frameQcgjrR_left_temp" class="move-span temp"></div><!--{block/1298}--></div></div></div>
            </ul>
        </div>
        <div class="blank10"></div>
        <div class="travel_box fs14">
	<!--[diy=lyxt]--><div id="lyxt" class="area"><div id="framesTqTJs" class="cl_frame_bm frame move-span cl frame-1"><div id="framesTqTJs_left" class="column frame-1-c"><div id="framesTqTJs_left_temp" class="move-span temp"></div><!--{block/1303}--></div></div></div>
        </div>
	<!--[diy=lyrm]--><div id="lyrm" class="area"><div id="frameCrL4ye" class="cl_frame_bm frame move-span cl frame-1"><div id="frameCrL4ye_left" class="column frame-1-c"><div id="frameCrL4ye_left_temp" class="move-span temp"></div><!--{block/1304}--></div></div></div>
    </div>
    <div class="blank10"></div>
    <div class="wapper">
        
        <div class="portal_block_summary"><a href="http://www.rolan.wang/" target="_blank"><img src="http://www.guizhoubbs.cn/data/attachment/portal/201804/19/133817i2wo72ln3ml6w6l7.png" width="100%"></a></div>

    </div>
    <div class="channel_box mr20">
        <div class="stitle">
            <div class="t_left b_house"><span class="fs24 bigfs"><a href=/"forum-49-1.html" target="_blank" class="c_house">家居</a></span></div>
            <div class="t_right tar gc9">组团<span class="c_qp ml5 mr5">装修</span>福利多<a href="/forum-49-1.html" target="_blank" class="baoming ml10 r3 tac">我要分享</a></div>
        </div>
        <div class="cont_l">
            <div class="img_box">
	<!--[diy=fct]--><div id="fct" class="area"><div id="frameaD545t" class="cl_frame_bm frame move-span cl frame-1"><div id="frameaD545t_left" class="column frame-1-c"><div id="frameaD545t_left_temp" class="move-span temp"></div><!--{block/1294}--></div></div></div>
            </div>
        </div>
        <div class="cont_r">
            <ul class="fs14 mes_list">
	<!--[diy=fcw]--><div id="fcw" class="area"><div id="frameX9B1GY" class="cl_frame_bm frame move-span cl frame-1"><div id="frameX9B1GY_left" class="column frame-1-c"><div id="frameX9B1GY_left_temp" class="move-span temp"></div><!--{block/1299}--></div></div></div>
            </ul>
        </div>
        <div class="blank10"></div>
        <div class="under_box fs14">
<!--[diy=fcxw]--><div id="fcxw" class="area"><div id="framea5IEEq" class="cl_frame_bm frame move-span cl frame-2-1"><div id="framea5IEEq_left" class="column frame-2-1-l"><div id="framea5IEEq_left_temp" class="move-span temp"></div><!--{block/1313}--></div><div id="framea5IEEq_center" class="column frame-2-1-r"><div id="framea5IEEq_center_temp" class="move-span temp"></div><!--{block/1314}--></div></div></div>
        </div>
<!--[diy=fcrm]--><div id="fcrm" class="area"><div id="frameecPco2" class="cl_frame_bm frame move-span cl frame-1"><div id="frameecPco2_left" class="column frame-1-c"><div id="frameecPco2_left_temp" class="move-span temp"></div><!--{block/1315}--></div></div></div>
    </div>
    <div class="channel_box">
        <div class="stitle">
            <div class="t_left b_fm"><span class="fs24 bigfs"><a href="/laran/" target="_blank" class="c_fm">蜡染</a></span></div>
            <div class="t_right tar gc9">民族<span class="c_qp ml5 mr5">文化</span>历史传承<a href="/laran/" target="_blank" class="baoming ml10 r3 tac">查看更多</a></div>
        </div>
        <div class="cont_l">
            <div class="img_box">
	<!--[diy=jjt]--><div id="jjt" class="area"><div id="frameOfqUHE" class="cl_frame_bm frame move-span cl frame-1"><div id="frameOfqUHE_left" class="column frame-1-c"><div id="frameOfqUHE_left_temp" class="move-span temp"></div><!--{block/1295}--></div></div></div>
            </div>
        </div>
        <div class="cont_r">
            <ul class="fs14 mes_list">
	<!--[diy=jjw]--><div id="jjw" class="area"><div id="frameL4MN8w" class="cl_frame_bm frame move-span cl frame-1"><div id="frameL4MN8w_left" class="column frame-1-c"><div id="frameL4MN8w_left_temp" class="move-span temp"></div><!--{block/1300}--></div></div></div>
            </ul>
        </div>
        <div class="blank10"></div>
        <div class="under_box fs14">
<!--[diy=jjxw]--><div id="jjxw" class="area"><div id="frameZ7xhx7" class="cl_frame_bm frame move-span cl frame-1"><div id="frameZ7xhx7_left" class="column frame-1-c"><div id="frameZ7xhx7_left_temp" class="move-span temp"></div><!--{block/1311}--></div></div></div>
        </div>
<!--[diy=jjrm]--><div id="jjrm" class="area"><div id="frameW176k1" class="cl_frame_bm frame move-span cl frame-1"><div id="frameW176k1_left" class="column frame-1-c"><div id="frameW176k1_left_temp" class="move-span temp"></div><!--{block/1312}--></div></div></div>
    </div>
    <div class="blank15"></div>
    <!--广告 开始-->
    <div class="wapper">
<!--[diy=3]--><div id="3" class="area"></div>
    </div>
    <div class="channel_box mr20">
        <div class="stitle">
            <div class="t_left b_car"><span class="fs24 bigfs"><a href="/forum-74-1.html" target="_blank" class="c_car">汽车</a></span></div>
            <div class="t_right tar gc9">看车<span class="c_qp ml5 mr5">买车</span>车友交流<a href="/forum-74-1.html" target="_blank" class="baoming ml10 r3 tac">我要分享</a></div>
        </div>
        <div class="cont_l">
            <div class="img_box">
	<!--[diy=qct]--><div id="qct" class="area"><div id="frameeXV1dD" class="cl_frame_bm frame move-span cl frame-1"><div id="frameeXV1dD_left" class="column frame-1-c"><div id="frameeXV1dD_left_temp" class="move-span temp"></div><!--{block/1296}--></div></div></div>
            </div>
        </div>
        <div class="cont_r">
            <ul class="fs14 mes_list">
	<!--[diy=qcw]--><div id="qcw" class="area"><div id="frameaSjGJ2" class="cl_frame_bm frame move-span cl frame-1"><div id="frameaSjGJ2_left" class="column frame-1-c"><div id="frameaSjGJ2_left_temp" class="move-span temp"></div><!--{block/1301}--></div></div></div>
            </ul>
        </div>
        <div class="blank10"></div>
        <div class="under_box fs14">
<!--[diy=qcxw]--><div id="qcxw" class="area"><div id="framelK8d68" class="cl_frame_bm frame move-span cl frame-1"><div id="framelK8d68_left" class="column frame-1-c"><div id="framelK8d68_left_temp" class="move-span temp"></div><!--{block/1309}--></div></div></div>
        </div>
<!--[diy=qcrm]--><div id="qcrm" class="area"><div id="framezNjK5N" class="cl_frame_bm frame move-span cl frame-1"><div id="framezNjK5N_left" class="column frame-1-c"><div id="framezNjK5N_left_temp" class="move-span temp"></div><!--{block/1310}--></div></div></div>
    </div>
    <div class="channel_box">
        <div class="stitle">
            <div class="t_left b_marry"><span class="fs24 bigfs"><a href="http://www.guizhoubbs.cn/forum.php" target="_blank" class="c_pink">情感</a></span></div>
            <div class="t_right tar gc9">结婚<span class="c_qp ml5 mr5">相亲</span>加入情感俱乐部<a href="/forum-74-1.html" target="_blank" class="baoming ml10 r3 tac">我要分享</a></div>
        </div>
        <div class="cont_l">
            <div class="img_box">
	<!--[diy=hjt]--><div id="hjt" class="area"><div id="frameq1z3Tp" class="cl_frame_bm frame move-span cl frame-1"><div id="frameq1z3Tp_left" class="column frame-1-c"><div id="frameq1z3Tp_left_temp" class="move-span temp"></div><!--{block/1297}--></div></div></div>
            </div>
        </div>
        <div class="cont_r">
            <ul class="fs14 mes_list">
	<!--[diy=hjw]--><div id="hjw" class="area"><div id="framejz993z" class="cl_frame_bm frame move-span cl frame-1"><div id="framejz993z_left" class="column frame-1-c"><div id="framejz993z_left_temp" class="move-span temp"></div><!--{block/1302}--></div></div></div>
            </ul>
        </div>
        <div class="blank10"></div>
        <div class="under_box fs14">
<!--[diy=jhzs]--><div id="jhzs" class="area"><div id="framec1S7Bh" class="cl_frame_bm frame move-span cl frame-1"><div id="framec1S7Bh_left" class="column frame-1-c"><div id="framec1S7Bh_left_temp" class="move-span temp"></div><!--{block/1307}--></div></div></div>
        </div>
<!--[diy=jhrm]--><div id="jhrm" class="area"><div id="framegHho3h" class="cl_frame_bm frame move-span cl frame-1"><div id="framegHho3h_left" class="column frame-1-c"><div id="framegHho3h_left_temp" class="move-span temp"></div><!--{block/1308}--></div></div></div>
    </div>
    <div class="blank20"></div>
       <!--广告 开始-->
    <div class="wapper">
<!--[diy=4]--><div id="4" class="area"></div>
    </div>

<div class="wapper clearfix">
    <div class="type_box mr17">
        <div class="s_box">
            <div class="s_title"><span class="icon_index baby">孕妈亲子</span></div>
<!--[diy=hy1]--><div id="hy1" class="area"><div id="framelmvEK0" class="cl_frame_bm frame move-span cl frame-1"><div id="framelmvEK0_left" class="column frame-1-c"><div id="framelmvEK0_left_temp" class="move-span temp"></div><!--{block/1278}--><!--{block/1279}--></div></div></div>
        </div>
    </div>
    <div class="type_box mr17">
        <div class="s_box">
            <div class="s_title"><span class="icon_index shop">时尚购物</span></div>
<!--[diy=hy2]--><div id="hy2" class="area"><div id="frameBd8iNu" class="cl_frame_bm frame move-span cl frame-1"><div id="frameBd8iNu_left" class="column frame-1-c"><div id="frameBd8iNu_left_temp" class="move-span temp"></div><!--{block/1280}--><!--{block/1281}--></div></div></div>

        </div>
    </div>
    <div class="type_box">
        <div class="s_box">
            <div class="s_title"><span class="icon_index friend">情感交友</span></div>
  <!--[diy=hy3]--><div id="hy3" class="area"><div id="frameK3KkSh" class="cl_frame_bm frame move-span cl frame-1"><div id="frameK3KkSh_left" class="column frame-1-c"><div id="frameK3KkSh_left_temp" class="move-span temp"></div><!--{block/1282}--><!--{block/1283}--></div></div></div>

        </div>
    </div>
    <div class="type_box mr17">
        <div class="s_box">
            <div class="s_title"><span class="icon_index pet">宠物花鸟</span></div>
        <!--[diy=hy4]--><div id="hy4" class="area"><div id="framebVH78V" class="cl_frame_bm frame move-span cl frame-1"><div id="framebVH78V_left" class="column frame-1-c"><div id="framebVH78V_left_temp" class="move-span temp"></div><!--{block/1284}--><!--{block/1285}--></div></div></div>

        </div>
    </div>
    <div class="type_box mr17">
        <div class="s_box">
            <div class="s_title"><span class="icon_index money">关注留守儿童</span></div>
         <!--[diy=hy5]--><div id="hy5" class="area"><div id="frameGdDgSi" class="cl_frame_bm frame move-span cl frame-1"><div id="frameGdDgSi_left" class="column frame-1-c"><div id="frameGdDgSi_left_temp" class="move-span temp"></div><!--{block/1286}--><!--{block/1287}--></div></div></div>

        </div>
    </div>
    <div class="type_box">
        <div class="s_box">
            <div class="s_title"><span class="icon_index movie">影视娱乐</span></div>
       <!--[diy=hy6]--><div id="hy6" class="area"><div id="framen84ufU" class="cl_frame_bm frame move-span cl frame-1"><div id="framen84ufU_left" class="column frame-1-c"><div id="framen84ufU_left_temp" class="move-span temp"></div><!--{block/1288}--><!--{block/1289}--></div></div></div>

        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="wapper">
<!--[diy=krj]--><div id="krj" class="area"><div id="frameozuo02" class="cl_frame_bm frame move-span cl frame-1"><div id="frameozuo02_left" class="column frame-1-c"><div id="frameozuo02_left_temp" class="move-span temp"></div><!--{block/1268}--></div></div></div>
</div>
<div class="wapper">
    <div class=" life_news clearfix">
        <div class="text_title bigfs mb10">生活信息平台</div>
        <div class="life_box zufang_t mr15">

<!--[diy=kf1]--><div id="kf1" class="area"><div id="framewTZY0V" class="cl_frame_bm frame move-span cl frame-1"><div id="framewTZY0V_left" class="column frame-1-c"><div id="framewTZY0V_left_temp" class="move-span temp"></div><!--{block/1316}--><!--{block/1269}--></div></div></div>
        </div>
        <div class="life_box ershou_t mr15">
<!--[diy=kf2]--><div id="kf2" class="area"><div id="framemfBBwB" class="cl_frame_bm frame move-span cl frame-1"><div id="framemfBBwB_left" class="column frame-1-c"><div id="framemfBBwB_left_temp" class="move-span temp"></div><!--{block/1317}--><!--{block/1270}--></div></div></div>
        </div>
        <div class="life_box zhaopin_t mr15">
<!--[diy=kf3]--><div id="kf3" class="area"><div id="framevoot1P" class="cl_frame_bm frame move-span cl frame-1"><div id="framevoot1P_left" class="column frame-1-c"><div id="framevoot1P_left_temp" class="move-span temp"></div><!--{block/1318}--><!--{block/1271}--></div></div></div>
        </div>
        <div class="life_box tiaozao_t">
<!--[diy=kf4]--><div id="kf4" class="area"><div id="frameNqs09z" class="cl_frame_bm frame move-span cl frame-1"><div id="frameNqs09z_left" class="column frame-1-c"><div id="frameNqs09z_left_temp" class="move-span temp"></div><!--{block/1319}--><!--{block/1272}--></div></div></div>
        </div>
    </div>
</div>
<div class="blank20"></div>
<div class="wapper">
    <div class="bzba">
<!--[diy=diyfriend]--><div id="diyfriend" class="area"><div id="frameW0VxD2" class="cl_frame_bm frame move-span cl frame-1"><div id="frameW0VxD2_left" class="column frame-1-c"><div id="frameW0VxD2_left_temp" class="move-span temp"></div><!--{block/1267}--></div></div></div>
    </div>

</div>
<div class="blank20"></div>
<div class="wapper">
    <div class="sitemap clearfix">
	  <!--{eval $temp = $dpost = array();$on=0;$query = DB::query("SELECT fid,fup,type,name,todayposts,domain FROM ".DB::table('forum_forum')." WHERE status='1' ORDER BY displayorder;");while($data = DB::fetch($query)) $temp[]=$data;}-->
				  <!--{loop $temp $bbs_group}-->
				  <!--{if $bbs_group['type']=="group"}-->
				  <!--{eval $on++;}-->
                  <div class="sitemap-con">
						  <!--{eval $forumurl = !empty($bbs_group['domain']) && !empty($_G['setting']['domain']['root']['forum']) ? 'http://'.$bbs_group['domain'].'.'.$_G['setting']['domain']['root']['forum'] : 'forum.php?gid='.$bbs_group['fid'];}-->
						  <strong class="bigfs fs18"><a href="{$forumurl}" target="_blank">{$bbs_group['name']}</a></strong>
						  <!--{loop $temp $bbs_forum}-->
						  <!--{if $bbs_forum['fup']==$bbs_group['fid'] and $bbs_forum['type']=="forum"}-->
						  <!--{eval $forumurl = !empty($bbs_forum['domain']) && !empty($_G['setting']['domain']['root']['forum']) ? 'http://'.$bbs_forum['domain'].'.'.$_G['setting']['domain']['root']['forum'] : 'forum.php?mod=forumdisplay&fid='.$bbs_forum['fid'];}-->
						  <a href="{$forumurl}" target="_blank">{$bbs_forum['name']}</a>
						  <!--{/if}-->
						  <!--{/loop}-->
					</div>
				   <!--{/if}-->
				  <!--{/loop}-->
        <div class="clear"></div>
    </div>
  <div class="blank15"></div>
    <div class="partner">
        <dl>
            <dt>友情链接：</dt>
            <dd>
  <!--[diy=yqlj]--><div id="yqlj" class="area"><div id="frame3831EZ" class="frame move-span cl frame-1"><div id="frame3831EZ_left" class="column frame-1-c"><div id="frame3831EZ_left_temp" class="move-span temp"></div><!--{block/1340}--></div></div></div>
           </dd>
        </dl>
        <div class="clear"></div>
    </div>
    <div class="blank15"></div>
	<script src="$_G['style']['styleimgdir']/js/portal.js" type="text/javascript"></script>
<script type="text/javascript">
jQ(document).ready(function(){
		jQ("#slider").hlxSlider();
		jQ("#slider2").hlxSlider({
			numericId:'controlm',
			titleshow:'controlsdesc2'
		});
	})
</script>
<script src="$_G['style']['styleimgdir']/js/scroll.js" type="text/javascript"></script>
<script type="text/javascript">
	(function($){$(document).ready(function(){
		$("#index_scroll").Scroll({line:2,speed:1000,timer:7000,up:"down_arrow"});
	});
	})(jQuery);	</script>
<script type="text/javascript">
	(function($){$(document).ready(function(){
	$(".hots_list li").hover(function(){
        $(this).addClass("hover")              
     },function(){
		$(this).removeClass("hover")                            
	})
	    
})	})(jQuery);	</script>
<!--{subtemplate common/footer}-->