/**
**/
/* header */
.wp { margin: 0 auto; width: 1000px; } #wp .wp { width: auto; }
.frame{background:none;}

#diy-tg { position:absolute; top: 1px; right:20px; z-index:100; height:23px;}		
#diy-tg_menu  {padding:8px 0; line-height:22px; margin-left:-17px;}
.rfm {border-bottom:none;}
.rfm th {width:5em;}

div.wapperout {
  width: 100%; }

.wapper {
  width: 1000px;
  margin: 0px auto;
  overflow: hidden; }

.pr {
  position: relative; }

/*公共区域*/
img {vertical-align:top;display:inline-block;}
.top_active {
  height: 70px;
  max-width: 340px;
  overflow: hidden; }
  .top_active img {
    height: 52px; }
.zlogo {
float: left;
display: inline;}
.fs14 {
    font-size: 14px !important;
}
#nv { height: 46px; line-height:46px; background:#307ED7; }
#nv ul { height: 46px; overflow: hidden; width:1000px }
#nv li { float: left; height: 46px; font-weight:normal;  font-size: 18px;
  font-family: 'Microsoft YaHei','YaHei','SimHei','Hei';
  margin-right: 25px;  background: none; background: none  }
.ie_all #nv li { line-height: 46px; }
.ie6 #nv li { line-height: 46px; }
#nv li a {     float: left;
    height: 46px;
    line-height: 46px;
    padding: 0px 14px;
    margin-right: 5px;
    display: inline-block;
    color: #FFF;
    font-size: 18px;
    font-family: 'Microsoft YaHei','YaHei','SimHei','Hei';
background: none; margin-left:5px}
#nv li span { display: none; }
#nv li.a { background:#2B71C1;}
#nv li a:hover { color:#fff; text-decoration:underline; background: none; }
#nv li.hover a:hover, #nv li.hover a { color:#fff; background: none; }
#nv li a.phone {
      margin-right: 0px; }
  #nv li a.phone span {
    display: inline-block;
    width: 35px;
    background-position: 0px -140px;
    margin-right: 5px;
}

.sitenavico {
  background: url("{STYLEIMGDIR}/sitenav_bgp.png") no-repeat; }

  div.sitenav #userlogin li {
    padding: 0 5px;
    position: relative; }
    div.sitenav #userlogin li a i {
      display: inline-block; }
    div.sitenav #userlogin li .dropdown_info_box {
      display: none;
      background: #ffffff;
      border: 1px #cccccc solid;
      position: absolute;
      top: 36px;
      right: 0px;
      z-index: 3;
      width: 63px;
      padding: 0 10px; }
      div.sitenav #userlogin li .dropdown_info_box li {
        line-height: 30px;
        height: 30px;
        padding: 0;
        border-bottom: 1px dashed #d7d7d7;
        overflow: hidden; }
        div.sitenav #userlogin li .dropdown_info_box li a {
          width: 63px;
          line-height: 30px;
          height: 30px;
          overflow: hidden;
          display: inline-block;
          color: #666; }
      div.sitenav #userlogin li .dropdown_info_box li.last {
        border-bottom: none; }
    div.sitenav #userlogin li .user_msg {
      right: 5px;
      width: 90px !important; }
      div.sitenav #userlogin li .user_msg a {
        position: relative;
        width: 90px !important; }
        div.sitenav #userlogin li .user_msg a em {
          font-weight: bold; }
      div.sitenav #userlogin li .user_msg li a:hover {
        text-decoration: none; }
    div.sitenav #userlogin li .personal_center {
      right: 5px; }
      div.sitenav #userlogin li .personal_center a:hover {
        color: #db1a25; }
    div.sitenav #userlogin li .blue {
      color: #6ea8df; }
  div.sitenav #userlogin li.pr0 {
    padding-right: 0; }
  div.sitenav #userlogin .login {
    background-position: -102px 11px;
    width: 20px;
    margin-right: 5px; }
  div.sitenav #userlogin .qq {
    background-position: -50px -136px;
    width: 27px;
    margin-right: 5px; }
  div.sitenav #userlogin .SinaWeibo {
    background-position: -90px -136px;
    width: 27px; }
  div.sitenav #userlogin .Weibo {
    background-position: -49px -172px;
    width: 27px; }
.avsimg img {
    width: 27px;
    margin: 4px 5px 0px 0px;
    border-radius: 50%;
    display: inline-block;
}
 .qq_bind {
    margin-top: -13px;
}
  div.sitenav #userlogin .downward {
    background-position: -100px -14px;
    width: 15px; }
  div.sitenav #userlogin .shortMessage {
    background-position: -25px -21px;
    width: 22px;
    margin-right: 5px; }
  div.sitenav #userlogin .shortMessage_have {
    background-position: 0px -21px; }
  div.sitenav #userlogin .remind {
    background-position: -80px -21px;
    width: 22px;
    margin-right: 5px; }
  div.sitenav #userlogin .remind_have {
    background-position: -50px -21px; }

.login_pop_up {
  display: none;
  position: absolute;
  z-index: 10;
  right: -70px;
  top: 39px;
  background: #fff;
  border: 1px solid #cdcdcd;
  box-shadow: 0 0 8px #cdcdcd; }
  .login_pop_up .loginframe {
    margin: 25px 30px 20px;
    color: #333;
    width: 215px; }
    .login_pop_up .loginframe .loginframe_blank {
      position: relative; }
      .login_pop_up .loginframe .loginframe_blank span.wrap-placeholder {
        position: absolute;
        display: inline-block;
        width: 209px;
        left: 0px;
        top: 0;
        line-height: 30px;
        padding-left: 6px;
        color: #999; }
      .login_pop_up .loginframe .loginframe_blank input.loginframe-label-ipt {
        border: 1px solid #cdcdcd;
        width: 203px;
        height: 16px;
        padding: 6px 5px; }
      .login_pop_up .loginframe .loginframe_blank span.loginframe-label {
        display: inline-block;
        line-height: 30px;
        width: 100%; }
        .login_pop_up .loginframe .loginframe_blank span.loginframe-label .loginframe-checkbox {
          margin: 9px 5px 0 0;
          cursor: pointer;
          *margin: 4px 5px 0 0; }
        .login_pop_up .loginframe .loginframe_blank span.loginframe-label span {
          cursor: pointer; }
      .login_pop_up .loginframe .loginframe_blank .loginframe-btn {
        border: none;
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #4585cd;
        color: #fff;
        cursor: pointer; }
    .login_pop_up .loginframe .msg_box {
      height: 24px;
      line-height: 24px; }
      .login_pop_up .loginframe .msg_box .login_msg {
        color: red; }



div.head_search {
  width: 466px;
  height: 34px;
  margin-left: 95px; }
  div.head_search #searchtxt {
    outline: 0px;
    width: 360px;
    padding: 9px 10px;
    height: 14px;
    line-height: 14px;
    border: 1px #e2e2e2 solid;
    border-right: none; }
  div.head_search .searchbut {
    border: none;
    background-color: #e2e2e2;
    cursor: pointer;
    width: 80px;
    height: 34px;
    line-height: 34px;
    background-position: 30px -54px; }
  div.head_search .searchbut:hover {
    background-color: #307ed7; }
  div.head_search .wrap-placeholder {
    position: absolute;
    left: 0;
    top: 0;
    color: #999;
    display: inline-block;
    width: 376px;
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    z-index: 100; }

.top_active {
  height: 52px;
  max-width: 253px;
  overflow: hidden; }




.global_head_board {
  height: 58px;
  border: 1px solid #cbe1f9;
  border-top: none;
  padding: 10px 0; }
  .global_head_board .plate_nav_l {
    display: inline-block;
    float: left;
    width: 38px;
    color: #333;
    font-size: 15px;
    text-align: center;
    margin: 0 15px 0 0;
    line-height: 24px; }
    .global_head_board .plate_nav_l span {
      display: block;
      width: 38px;
      height: 38px; }
  .global_head_board .plate_nav_l:hover {
    text-decoration: none;
    cursor: pointer; }
  .global_head_board .plate_nav_r a {
    float: left;
    font-size: 14px;
    line-height: 18px;
    margin-right: 5px;
    padding: 5px;
    word-break: break-all;
    color: #333; }
  .global_head_board .plate_nav_r a.red {
    color: red; }
  .global_head_board .plate_nav_r a:hover {
    text-decoration: underline; }
  .global_head_board .portal {
    float: left;
    width: 235px;
    border-right: 1px dashed  #dfdfdf;
    padding: 0 0px 0 5px; }
    .global_head_board .portal span {
      background-position: 0 -90px; }
    .global_head_board .portal .plate_nav_r {
      float: left;
      width: 180px; }
  .global_head_board .info {
    float: left;
    width: 209px;
    border-right: 1px dashed #dfdfdf;
    padding: 0px 0 0 15px; }
    .global_head_board .info span {
      background-position: -40px -90px; }
    .global_head_board .info .plate_nav_r {
      float: left;
      width: 150px; }
  .global_head_board .community {
    float: left;
    width: 517px;
    padding: 0 0 0 15px; }
    .global_head_board .community span {
      background-position: -80px -90px; }
    .global_head_board .community .plate_nav_r {
      float: left;
      width: 460px; }
/*end*/

#bbs_scrollbar {
  position: fixed;
  width: 62px;
  bottom: 100px;
  left: 50%;
  margin-left: 510px;
  z-index: 7; }
  #bbs_scrollbar .bbs_scrollbar_con {
    display: block; }
    #bbs_scrollbar .bbs_scrollbar_con li {
      margin: 0px 0px 5px  0;
      position: relative;
      width: 62px;
      height: 62px; }
      #bbs_scrollbar .bbs_scrollbar_con li a {
        width: 62px;
        height: 62px;
        background: url("{STYLEIMGDIR}/lowerright.png") no-repeat;
        display: inline-block;
        padding: 0px;
        cursor: pointer;
        transition: all 0.2s ease-in-out; }
      #bbs_scrollbar .bbs_scrollbar_con li .gotop {
        background: none;
        cursor: auto; }
      #bbs_scrollbar .bbs_scrollbar_con li .go {
        background: url("{STYLEIMGDIR}/lowerright.png") no-repeat 0px 0px !important;
        cursor: pointer; }
      #bbs_scrollbar .bbs_scrollbar_con li .go:hover {
        background-position: -62px 0px !important; }
      #bbs_scrollbar .bbs_scrollbar_con li .goservice {
        background-position: 0px -62px; }
      #bbs_scrollbar .bbs_scrollbar_con li .goservice:hover {
        background-position: -62px -62px; }
      #bbs_scrollbar .bbs_scrollbar_con li .weixin {
        background-position: 0px -124px; }
      #bbs_scrollbar .bbs_scrollbar_con li .weixin:hover {
        background-position: -62px -124px; }
      #bbs_scrollbar .bbs_scrollbar_con li .kehuduanbg {
        background-position: 0px -186px; }
      #bbs_scrollbar .bbs_scrollbar_con li .kehuduanbg:hover {
        background-position: -62px -186px; }
      #bbs_scrollbar .bbs_scrollbar_con li div {
        position: absolute;
        display: none; }
      #bbs_scrollbar .bbs_scrollbar_con li .lianxi {
        background: url("{STYLEIMGDIR}/lianxi.png") no-repeat;
        width: 175px;
        height: 82px;
        padding-left: 15px;
        left: -190px;
        top: -10px; }
        #bbs_scrollbar .bbs_scrollbar_con li .lianxi h2 a {
          background: url("{STYLEIMGDIR}/liulan.png") no-repeat;
          display: inline-block;
          width: 74px;
          height: 24px;
          margin-top: 10px; }
        #bbs_scrollbar .bbs_scrollbar_con li .lianxi h2 a:hover {
          background: url("{STYLEIMGDIR}/liulan.png") no-repeat !important;
          text-decoration: none; }
        #bbs_scrollbar .bbs_scrollbar_con li .lianxi p {
          color: #045FB8; }
      #bbs_scrollbar .bbs_scrollbar_con li .weixinimg {
        background: url("{STYLEIMGDIR}/weixin_right.png") no-repeat;
        width: 213px;
        height: 266px;
        top: -200px;
        left: -213px; }
      #bbs_scrollbar .bbs_scrollbar_con li .kehuduan {
        background: url("{STYLEIMGDIR}/kehuduan.png") no-repeat;
        width: 210px;
        height: 252px;
        top: -190px;
        left: -210px; }

/*分页*/

.pg strong, .pg a:hover, .pgb a:hover{
    background-color: #ACCEFD;
    border: 1px solid #94BEFE;
    color: #203769;
}
.pg a, .pg strong, .pgb a, .pg label{
border: 1px solid #94BEFE;
}


/*	color	*/
.rc {color:#cd0200;}
.bc {color:#36C;}
.yc {color:#e63;}
.blackc{ color:#000;}

.gcc {color:#ccc;}
.gc9 {color:#999;}
.gc6 {color:#666;}
.gc3 {color:#333;}
.bcde {background:#dedede;}
.bcf2 {background:#f2f2f2;}

/*	clear	*/
.clr {clear:both;font-size:0;}
.clear_in {overflow:hidden;zoom:1;}
.clearfix:after{content:".";display:block;height:0;line-height:0;clear:both;visibility:hidden;font-size:0;}
*html .clearfix{height:1%;zoom:1;}
.clear {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}


/*	blank	*/
.blank5{height:5px;clear:both;font-size:1px;overflow:hidden;}
.blank10{height:10px;clear:both;font-size:1px;overflow:hidden;}
.blank15{height:15px;clear:both;font-size:1px;overflow:hidden;}
.blank20{height:20px;clear:both;font-size:1px;overflow:hidden;}
.blank25{height:25px;clear:both;font-size:1px;overflow:hidden;}
.blank30{height:30px;clear:both;font-size:1px;overflow:hidden;}
.blank35{height:35px;clear:both;font-size:1px;overflow:hidden;}
.blank40{height:40px;clear:both;font-size:1px;overflow:hidden;}

/*	margin	*/
.m0 {margin:0px!important;}
.m5 {margin:5px;}
.m10 {margin:10px;}
.m15 {margin:15px;}
.m20 {margin:20px;}
.m25 {margin:25px;}
.m30 {margin:30px;}
.mt0 {margin-top:0;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}
.mr0 {margin-right:0;}
.mr5 {margin-right:5px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}
.mr25 {margin-right:25px;}
.mr30 {margin-right:30px;}
.ml0 {margin-left:0;}
.ml5 {margin-left:5px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.ml25 {margin-left:25px;}
.ml30 {margin-left:30px;}
.mb0 {margin-bottom:0px;}
.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb25 {margin-bottom:25px;}
.mb30 {margin-bottom:30px;}

/*	padding	*/
.p0 {padding:0px!important;}
.p4 {padding:4px;}
.p5 {padding:5px;}
.p8 {padding:8px;}
.p10 {padding:10px;}
.p15 {padding:15px;}
.p20 {padding:20px;}
.pt0 {padding-top:0px;}
.pt4 {padding-top:4px;}
.pt5 {padding-top:5px;}
.pt8 {padding-top:8px;}
.pt10 {padding-top:10px;}
.pb0 {padding-bottom:0px;}
.pb4 {padding-bottom:4px;}
.pb5 {padding-bottom:5px;}
.pb8 {padding-bottom:8px;}
.pb10 {padding-bottom:10px;}
.pr0 {padding-right:0px;}
.pr4 {padding-right:4px;}
.pr5 {padding-right:5px;}
.pr8 {padding-right:8px;}
.pr10 {padding-right:10px;}
.pl0 {padding-left:0px;}
.pl4 {padding-left:4px;}
.pl5 {padding-left:5px;}
.pl8 {padding-left:8px;}
.pl10 {padding-left:10px;}

/* border */
.borcc{ border:1px solid #ccc;}
.ad_site{font-size: 0; line-height: 0;}

/*	border-radius	*/
.r3 {-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.r5 {-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.rt3 {-moz-border-radius:3px 3px 0 0;-khtml-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;}
.rt5 {-moz-border-radius:5px 5px 0 0;-khtml-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
.rb3 {-moz-border-radius:0 0 3px 3px;-khtml-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;}
.rb5 {-moz-border-radius:0 0 5px 5px;-khtml-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;}
.rl3 {-moz-border-radius:3px 0 0 3px;-khtml-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
.rl5 {-moz-border-radius:5px 0 0 5px;-khtml-border-radius:5px 0 0 5px;-webkit-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px;}
.rr3 {-moz-border-radius:0 3px 3px 0;-khtml-border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.rr5 {-moz-border-radius:0 5px 5px 0;-khtml-border-radius:0 5px 5px 0;-webkit-border-radius:0 5px 5px 0;border-radius:0 5px 5px 0;}



