    <div class="wapper level0"><div class="global_head_board">
    <div class="portal">
	<a class="plate_nav_l" href="portal.php"><span class="sitenavico"></span>门户</a>
    <div class="plate_nav_r">
    <a href="/house.php" target="_blank">房产</a>
    <a href="/g/" target="_blank">旅游</a>
   <a href="/forum-74-1.html" target="_blank">汽车</a>
<a href="/forum-42-1.html" target="_blank">婚嫁</a>
<a href="/forum-66-1.html" target="_blank">健康</a>
<a href="/forum-77-1.html" target="_blank">美食</a>
<a href="/forum-40-1.html" target="_blank">杂谈</a>
<a href="/forum-38-1.html" target="_blank">母婴</a>
</div></div>
<div class="info">
<a class="plate_nav_l" href="/forum.php?gid=46" target="_blank"><span class="sitenavico"></span>信息</a>
<div class="plate_nav_r"><a href="/forum-99-1.html" target="_blank">跳蚤</a>
<a href="/forum-246-1.html" target="_blank">找商家</a>
<a href="/forum-80-1.html" target="_blank">企业</a>
<a href="/forum.php?mod=forumdisplay&fid=99&filter=sortid&sortid=23" target="_blank">招聘</a>
<a href="/forum.php?mod=forumdisplay&fid=99&filter=sortid&sortid=17" target="_blank">二手车</a>
<a href="/laran/" target="_blank">蜡染</a>
</div></div>
<div class="community">
<a class="plate_nav_l" href="forum.php" target="_blank"><span class="sitenavico"></span>社区</a>
<div class="plate_nav_r"><a href="/forum-76-1.html" target="_blank">生活</a>
<a href="/forum-49-1.html" target="_blank">房产交流</a>
<a href="/forum-58-1.html" style="color:#F00" target="_blank">买东西</a>
<a href="/forum-44-1.html" target="_blank">单身男女</a>
<a href="/forum-78-1.html" target="_blank">校园</a>
<a href="/forum-231-1.html" target="_blank">贵阳</a>
<a href="/forum-52-1.html" target="_blank">社会</a>
<a href="/forum-238-1.html" target="_blank">毕节</a>
<a href="/forum-227-1.html" target="_blank">凯里</a>
<a href="/forum-236-1.html" target="_blank">安顺</a>
<a href="/forum-81-1.html" target="_blank">贵州新闻</a>
<a href="/forum.php?gid=82" target="_blank">黔东南</a>
<a href="/forum.php?gid=255" target="_blank">公益栏目</a>
<a href="/forum-54-1.html" target="_blank">视频</a>
<a href="/home.php?mod=space&do=album&view=all" target="_blank">相册</a>
<a href="/forum-249-1.html" target="_blank">画眉</a>
<a href="/forum-75-1.html" target="_blank">宠物</a>
<a href="/forum-61-1.html" target="_blank">手机</a>
 </div></div></div></div>
